/********************
    Navigation Css
********************/

.main-header {
  background-color: #FFFFFF;
  width: vw(1920px);
  box-shadow: 0 vw(3px) vw(6px) 0 #E6E6E6;

  .divheading {
    height: vw(90px);  
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: vw(160px);
    padding-right: vw(180px);

    .add-vendor-button{
      font-size: vw(21px);
      font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
      // margin-top: vw(30px);
      width: vw(240px);
      height: vw(60px);
      border: transparent;
      background-color: #FF5757;
      color: white;
      float: left;
      border-radius: vw(30px);
      text-transform: capitalize;
    }
    img{
      width: vw(32px);
      height: vw(29px);
      margin-left: vw(30px);
      background-color: #FAFAFA;
      border-radius: vw(30px);
    }
  }

  .divheading h4 {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    font-weight: bold;
    font-size: vw(28px);
    color: #000000;
  }
  .add-vendor-heading{
    display: flex;
    width: 50%;
    justify-content: space-between;
  }

}