/********************
    Navigation Css
********************/

.main-header {
  background-color: #FFFFFF;
  width: vw(1920px);
  // border-bottom: 1px solid #E6E6E6;
  box-shadow: 0 vw(3px) vw(6px) 0 #E6E6E6;

  .divheading {
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
  }

  .divheading h4 {
    margin-left: vw(141px);
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    font-weight: bold;
    font-size: vw(28px);
    color: #000000;
  }

}