/*========================================================

                    variables

========================================================*/

$color-white: #FFFFFF;
$color-black: #000000;
$color-blue: #57B6FF;
$gray-text: #CCCCCC;
$color-light-gray: #FAFAFA;
$color-yellow: #FFCF60;
$dark-gray-text: #808080;
$gray-border: #E6E6E6;